#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 25px;
    align-items: center;
    background-color: $primary-color-light;
    border-top: 2px solid $divider-color;

    .icon__total {
      cursor: auto;
      margin-right: 10px;
    }
  }